body {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 1rem;
    color: black;
    background-color: rgba(129, 176, 178, 0.4);
}

section {
    border: dotted black 0.2rem;
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 12rem 12rem 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #344b52;
}


/* HEADER */
#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.introimage {
    display: inline;
    width: 20rem;
    max-width: 30rem;
    max-height: 30rem;
    margin: 10rem 2rem 2rem 8rem;
    
    /*fit the image on div container*/
    overflow: hidden;
    
}

.introtext {
    display: inline;
    width: 25rem;
    max-width: 30rem;
    align-self: center;
    margin: 10rem 8rem 8rem 2rem;
    color: #2d505a;
    overflow: hidden;
}

nav {
    background-color: rgba(2, 128, 144, 0.6);
    width: 100%;
    position: fixed;
    top: 0;
}

/* style the links on header */
nav a {
    display: block;
    float: right;
    
    padding: 1.2rem;

    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

/* style links on hover */
nav a:hover {
    background-color: rgba(129, 176, 180);
}

#navbar {
    transition: top 0.3s;
}

#fullname {
    font-size: 3rem;
    font-weight: bolder;
}


/* ABOUTME */
.aboutme {
    width: 60%;
    size: 2rem;
}

.aboutme img {
    overflow: hidden;
    object-fit: contain;
    max-height: 20rem;
    border-radius: 1rem;
    display: block;
    margin: 2rem auto;
    max-width: 100%;
}


/* EXPERIENCE */
.experience {
    width: 60%;
    height: 20rem;
    display: flex;
    flex-direction: row;
}

#sidebar {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(101, 177, 130, 0.5);
}

#sidebar a {
    text-decoration: none;
    padding: 1.4rem;
    display: block;
    
    color: rgba(0, 7, 8, 0.6);
}

#sidebar a:hover {
    background-color: rgba(251, 196, 171, 0.4);
    color: rgba(0, 7, 8, 0.9);
}

#sideinfo {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
    background-color: rgba(116, 198, 180, 0.5);
}

.exp {
    display: none;
}

.expactive {
    display: block;
}


/* PROJECTS */
.projects {
    max-width: 90%;;
}

.grid {
    display: flex;

    /*items in a row*/
    flex-direction: row;

    /*items in a row centered*/
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;

}

.box {
    background-color: rgba(190, 124, 235, 0.4);
    display: inline-block;
    width: 19rem;
    height: 19rem;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    text-align: center;

    /* needed so .projtext is in div*/
    position: relative;
}

.projtext {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    left: 3.5rem;
}

#projdes1, #projdes2, #projdes3, #projdes4, #projdes5 {
    display: block;
}

#proj1, #proj2, #proj3, #proj4, #proj5 {
    display: none;
    background-color: rgba(221, 123, 136, 0.7);
    height: 100%;
}


/* No image yet */
/* .box img {
    height: 25rem;
    object-fit: contain;

} */

footer {
    display: block;
    /* background-color: rgba(124, 191, 202, 0.8); */
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 4rem;
    margin-bottom: 5rem;
}

/* a touch pad screen size */
@media only screen and (max-width: 750px) {
    h1 {
        margin: 12rem 5rem 1rem;
    }

    /* HEADER */
    #intro {
        flex-direction: column;
    }

    .introimage {
        margin: 5rem auto 1rem auto;
        max-height: 20rem;;
        text-align: center;

    }

    .introtext {
        max-width: 25rem;
        margin: 0rem 1rem 1rem 4rem;
    }

    /* TODO::Check how it looks on a phone*/
    nav a {
        display: block;
    }

    /* EXPERIENCE */
    .experience {
        flex-direction: column;
        max-width: 100%;
    }

    #sidebar {
        max-height: 50rem;
        position: relative;
        
    }

    #sidebar a {
        display: inline;
        float: left;
        text-align: center;
    }

    #sideinfo {
        display: block;
        height: 100%;
        overflow: hidden;
    }

}

/* a phone screen size */
@media only screen and (max-width: 400px) {
    body {
        font-size: 1.5rem;
    }

    .introtext {
        margin: 1rem auto;
    }

    .aboutme {
        padding: 0.5rem;
    }

    #sidebar a {
        display: block;
        padding: 0.8rem;
    }

    #sideinfo { 
        display: block;
        height: 10rem;
    }
    

}